/*
  You don't need to touch this file to complete the assignment!
  Unless you want to add styles and make it look more beautiful.
*/

/*
  Some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body {
  text-align: center;
  font-family: Arial, sans-serif;
 
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #030407;
}

th,
td {
  background-color: #115ff4;
  border: 1px solid black;
  color: white;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #050135;
}

td {
  background-color: #041175;
  color:#D69F4C;
  height: 70px;
  cursor: pointer;
  font-size: 2.25em;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

td:hover {
  opacity: 0.85;
}

h1
{
  text-align: center;
}
.play-button
{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.disabled
{
  display: none;
}



.enabled
{
  display: flex;
  width: 100%;
  justify-content: center;  
}

#active-clue
{

  display: flex;
  background-color:  #115ff4;
  color: rgb(247, 248, 248);
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  margin: 20px;

  border-radius: 25px;
  padding: 20px;
 
  
} 


.viewed
{
  text-decoration: line-through;
  opacity: 0.65;
}



button
 {
  color: white;
  background-color: #115ff4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

 
} 

